In [1]:
n = 7
for i in range(n):
    for j in range(n - i):
        print(' ', end = ' ')
    for j in range(i):
        print('*', end = ' ')
    print()

            *
          * *
        * * *
      * * * *
    * * * * *
  * * * * * *

In [2]:
n = 7
for i in range(n):
    for j in range(n - i):
        print(' ', end = ' ')
    for j in range(i):
        print(' * ', end = ' ')
    print()

             *
           *   *
         *   *   *
       *   *   *   *
     *   *   *   *   *
   *   *   *   *   *   *

# break

In [ ]:
for i in range(7):
    break

In [3]:
for i in range(7):
    if i == 5:
        print(i, end = ' ')
        break

5

In [4]:
for i in range(100):
    if i == 5:
        print('We are breaking loop here for i =', i)
        break
    else:
        print(i)

0
1
2
3
4
We are breaking loop here for i = 5

In [5]:
for i in range(1000):
    if i != 7:
        print(i)
    else:
        print('We are breaking loop here for i =', i)
        break

0
1
2
3
4
5
6
We are breaking loop here for i = 7

# continue

it will stop execution of current iteration from where the 'continue' appears, and will continue execution of remaining iterations

In [6]:
for i in range(10):
    if i == 7:
        continue
        print('something will happen here i =', i)
    else:
        print(i)
    print('**********')

0
**********
1
**********
2
**********
3
**********
4
**********
5
**********
6
**********
8
**********
9
**********

In [7]:
for i in range(10):
    if i == 7:
        pass
    else:
        print(i)
    print('**********')

0
**********
1
**********
2
**********
3
**********
4
**********
5
**********
6
**********
**********
8
**********
9
**********

In [8]:
for i in range(30):
    if i%2 == 0:
        print(i, end = ' ')
    else:
        continue

0 2 4 6 8 10 12 14 16 18 20 22 24 26 28

In [9]:
for i in range(30):
    if i%2 == 0:
        print(i, end = ' ')
    else:
#         continue
        print('*, ', end = '')

0 *, 2 *, 4 *, 6 *, 8 *, 10 *, 12 *, 14 *, 16 *, 18 *, 20 *, 22 *, 24 *, 26 *, 28 *,

In [10]:
for i in range(30):
    if i%2 == 0:
        continue
    else:
        print(i, end = ' ')

1 3 5 7 9 11 13 15 17 19 21 23 25 27 29

In [11]:
for i in range(10):
    print(i)
    break

0

In [12]:
for i in range(10):
    break
    print(i)

# for loop with else

In [13]:
for i in range(5):
    print(i, end = ' ')    
else:
    print('\nWe are in else part')

0 1 2 3 4
We are in else part

In [14]:
for i in range(5):
    print(i, end = ' ')
    if i == 3:
        break
    
else:
    print('\nWe are in else part')

0 1 2 3

In [15]:
for i in range(10):
    print(i, end = ' ')
else:
    print('\nWe are in else part')

0 1 2 3 4 5 6 7 8 9
We are in else part

In [17]:
for i in range(10):
    if i == 6:
        continue
    print(i, end = ' ')
else:
    print('\nWe are in else part')

0 1 2 3 4 5 7 8 9
We are in else part

## enumerate()

In [1]:
list1 = ['00', '11', '22', '33', '44', '55', '66', '77', '88', '99']
list1

['00', '11', '22', '33', '44', '55', '66', '77', '88', '99']

In [2]:
for i in range(len(list1)):
    print(list1[i], end= ' ')

00 11 22 33 44 55 66 77 88 99

In [3]:
for index, value in enumerate('abcdefgh'):
    print(index, value)

0 a
1 b
2 c
3 d
4 e
5 f
6 g
7 h

In [4]:
for a, b in enumerate('abcdefgh'):
    print(a, b)

0 a
1 b
2 c
3 d
4 e
5 f
6 g
7 h

In [5]:
for var in enumerate('abcdefgh'):
    print(var)

(0, 'a')
(1, 'b')
(2, 'c')
(3, 'd')
(4, 'e')
(5, 'f')
(6, 'g')
(7, 'h')

In [6]:
for var in enumerate(list1):
    print(var)

(0, '00')
(1, '11')
(2, '22')
(3, '33')
(4, '44')
(5, '55')
(6, '66')
(7, '77')
(8, '88')
(9, '99')

In [7]:
for var in enumerate(list1):
    print(var, type(var))

(0, '00') <class 'tuple'>
(1, '11') <class 'tuple'>
(2, '22') <class 'tuple'>
(3, '33') <class 'tuple'>
(4, '44') <class 'tuple'>
(5, '55') <class 'tuple'>
(6, '66') <class 'tuple'>
(7, '77') <class 'tuple'>
(8, '88') <class 'tuple'>
(9, '99') <class 'tuple'>

In [8]:
for var in enumerate(list1):
    print(var, type(var[1]))

(0, '00') <class 'str'>
(1, '11') <class 'str'>
(2, '22') <class 'str'>
(3, '33') <class 'str'>
(4, '44') <class 'str'>
(5, '55') <class 'str'>
(6, '66') <class 'str'>
(7, '77') <class 'str'>
(8, '88') <class 'str'>
(9, '99') <class 'str'>